   		<%= flash[:notice] if flash[:notice] %>
<%= form_for @group , :html => {:multipart => true } do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="newPaperclipFiles">

        <%= f.fields_for :users do |user| %>
        
           <% if user.object.new_record? %>
                 <%= user.file_field :image %><br/>
                 
           <% end %>

       <% end %>

</div>

<div class="existingPaperclipFiles">
        
     <% f.fields_for :users do |user| %>
        
          <% unless user.object.new_record? %>
        
                <div class="thumbnail">
                        <%= link_to( image_tag(user.object.image.url(:thumb)), user.object.image.url(:original) ) %>
                        <%= user.check_box :_destroy %>delete
                </div>
                
          <% end %>        
        
     <% end %>
</div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
