<p id="notice"><%= notice %></p>

<p>
	<b>Title:</b>
	<%= @user.title%>
</p>

<p>
	<b>Image</b><br/>
<%= image_tag @user.image.url(:thumb) %>

</p>

<p>
  <b>Description:</b>
  <%= @user.description %>
</p>

<p>
	<b>Classification:</b>
	<%= @user.classification%>
</p>

<p>
	<b>Recommend:</b>
	<%= @user.recommend%>
	</p>
<p>
  <b>Group:</b>
  <%= link_to Group.find(@user.group_id).name , Group.find(@user.group_id) %>
</p><br/>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
